html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  max-width: 1500px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-align: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

.section {
  width: 100%;
  max-width: 1500px;
  padding: 50px 30px;
}

.gallery {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.button {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 30px;
}

.button.is-hidden {
  display: none;
  pointer-events: none;
}

.search-form {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
}

.search-input {
  width: 100%;
  max-width: 500px;
  height: 70px;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 15px;
  outline: none;

  font-size: 30px;
}

.photo-list-item {
  width: 100%;
  max-width: 250px;
}

.photo-card {
  width: 100%;
  max-width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
}

.card-image {
  width: 100%;
  max-width: 250px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.stats {
  display: flex;
  width: 100%;
}

.stats-item {
  width: 100%;
}

.material-icons {
  margin-right: 5px;
}
